#map {
  height: 640px;
}
#wrapper {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
}
.tiny {
font-size: 15px !important;
}
.wickedTiny {
  font-size:8px !important;
}
.dehaze{
  font-size:40px !important;
}
.search{
  font-size: 40px !important;
  border-left:solid 1px lightgray;
  padding-left:8px;
}
.inputs {
  position: absolute;
  top: 10px;
  background-color: white;
  border: lightgray 1px solid;
  padding: 3px;
  height: 4%;
  z-index: 98;
}
#checkboxes {
  left: 4%;
  height: 6%;
}
#graphicChecks{
  display:grid;
  grid-template-columns: repeat(8, 1fr);
  position:absolute;
  border-radius: 3px;
  top:60px;
  left:4%;
  width:300px;
  background-color: white;
  height:6%;
  z-index: 98;
}
#textForm {
  width: 90%;
  background-color: white;
  padding: 3px;
  margin-left:10px;
  height: 65%;
}
input[type=text]{
font-size:20px;
letter-spacing: 0.03em;
font-family:raleway;
}
::-webkit-input-placeholder {
  color: red;
}
#cityId{
  display:flex;
  align-items: center;
  margin-bottom:9px;
  padding-left:10px;
  padding-bottom:1px;
  font-size: 25px;
  font-family: raleway;
  border-left:1px solid lightgray;
  border-right:1px solid lightgray;
}
#textInput {
  height: 100%;
  width: 100%;
  background:transparent;
  border:none;
  padding-right:8px;
}
#navLogo {
  vertical-align: middle;
  font-family: 'Fredericka the Great';
  font-size: 2.5em;
  padding-left:20px;
  letter-spacing: 0.05em;
}
 #faq {
  display:flex;
  justify-content: center;
  align-items: center;
  font-family: raleway;
  font-size: 1.5em;
  letter-spacing: 0.06em;
}
#phoneEnrollment{
  display: grid;
  grid-template-rows: 1fr 1fr;
  /*grid-gap:5px;*/
}

.navFoot {
  display: grid;
  background-color: white;
}
nav {
  grid-template-columns: 4% 4% 20% 10% 2% 28% 30%;
  height:50px;
  border-bottom:solid lightgray 1px;
}
#schoolCard {
  display: grid;
  grid-template-rows: 14% 8% 11.5% 11.5% 11.5% 11.5% 8% 8% 6% 0%;
  grid-gap: 2%;
  position: absolute;
  top:65px;
  left:10px;
  text-align: center;
  height:535px;
  width:340px;
  background: white;
  overflow:scroll;
  box-shadow: 5px 5px 5px 0px rgba(112,110,112,0.66);
}
.cardIndicator{
  display:flex;
  align-items: center;
  justify-content: center;
  /*padding-top:8px;*/
  letter-spacing: 0.1em;
  font-family: roboto;
}
.blueIndicator {
  color: blue;
  border-bottom: 2px blue solid;
  border-top: 2px blue solid;
  font-size:1.3em;
  /*font-weight: bold;*/
}
.grayIndicator {
  color: gray;
  border-bottom: 2px gray solid;
  border-top: 2px gray solid;
  font-size:1.3em;
}
.orangeIndicator {
  color: orange;
  border-bottom: 2px orange solid;
  border-top: 2px orange solid;
  font-size:1.2em;
}
.yellowIndicator {
  color: yellow;
  background-color: #c9c7c7;
  border-bottom: 2px yellow solid;
  border-top: 2px yellow solid;
  font-size:1.3em;
}
.redIndicator {
  color: red;
  background: linear-gradient(
    270deg,
    #FC5D50,
    #FD0701);
    color:black;
    font-weight: bold;
  /*border: 2px white solid;*/
  /*border-top: 2px white solid;*/
  font-size: 1.2em;
  margin-bottom:0px;
  padding-bottom:5px;
  /*margin-bottom: 25px;*/
  /*color:white;*/
}
.greenIndicator {
  color: green;
  border-bottom: 2px green solid;
  border-top: 2px green solid;
  font-size:1.3em;
}
.cardName {
  padding-top:10px;
  display:flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8em;
  letter-spacing: 0.02em;
  font-family:roboto;
  color:white;

  /*background-color: #5562FC  ;*/
}
#addressGrade {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  /*padding-bottom:-20px;*/
  /*border-top:1px lightgray solid;*/
  /*grid-gap:2%;*/
}
#gradesCard {
  display:flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-right:solid lightgray 1px;
  border-bottom:solid lightgray 1px;
  /*padding-right:10px;*/
  /*border: 1px solid black;*/
  font-size: 1.6em;
  font-family: roboto;
  margin-left:7px;
  margin-bottom:-6px;
  /*background:linear-gradient(
    90deg,
    #39EC00,
    #6FE849
    );*/
}
#gradesKeyCard {
  display:flex;
  align-items: center;
  justify-content: center;
  background-color: lightgray;
  /*border: 1px solid black;*/
  font-size: 1.5em;
  font-family: roboto;
  /*margin-bottom:-10px;*/
  /*margin-left:5px;*/
}

#addressCards {
  display:flex;
  align-items: center;
  justify-content: center;
  /*background-color: lightblue;*/
  font-family: roboto;
  line-height: 1.5em;
  margin-left:7px;
  border-right:1px solid lightgray;
  margin-top:-4px;

  /*background: linear-gradient(
    90deg,
    #1ABFFC,
    #58CFFC);*/

  /*border: 1px solid black;*/
}
#address{
  display:flex;
  align-items: center;
  justify-content: center;
  /*background-color: lightblue;*/
  /*border: 1px solid black;*/
  font-size:1.7em;
  font-family: roboto;
  margin-left:7px;
}

#titlePercentage {
  display:flex;
  align-items: center;
  justify-content: center;
  background-color: lightgreen;
  /*border: 1px solid black;*/
  font-size: 1.8em;
  font-family: roboto;
}
#keyPercentage {
  display:flex;
  align-items: center;
  justify-content: center;
  background-color: lightgreen;
  /*border: 1px solid black;*/
  font-size: 1.1em;
  font-family: roboto;
}


/*4th line of sidebar data card*/
#phoneOperatorCard {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /*grid-gap: 2%;*/
}
#phoneCard {
  display:flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1em;
  /*background-color: lightpink;*/
  font-family: roboto;
  margin-right:7px;
  border-bottom:1px lightgray solid;
  /*background: linear-gradient(
    90deg,
    #58CFFC,
    #92E0FE);*/
  /*border: 1px solid black;*/
  /*line-height: 200%;*/
}
#operatorCard {
  display:flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4em;
  background-color: white;
  /*border: 1px solid black;*/
  font-family: roboto;
  margin-right:7px;
  margin-bottom:-6px;
  border-bottom:1px solid lightgray;
  /*background:linear-gradient(
    90deg,
    #6FE849,
    #ACE899
    );*/
}
/*5th line of the school data card */
#parentSatisfactionCard {
  display:flex;
  align-items: center;
  justify-content: center;
  background-color: lightgreen;
  /*border: 1px black solid;*/
  font-size: 1.25em;
  font-family: roboto;
  background: linear-gradient(
    270deg,
    #FC5D50,
    #FD0701);
}
/*6th line of the school data card*/
#equityCard {
  display:flex;
  align-items: center;
  justify-content: center;
  background-color: lightgray;
  /*border: 1px solid black;*/
  font-size: 1.25em;
  font-family: roboto;
  background: linear-gradient(
    270deg,
    #FC5D50,
    #FD0701);
}
#dataDate {
  display:flex;
  align-items: center;
  justify-content: center;
  font-family: kameron;
  font-size: 0.65em;
  border: 1px solid black;

}
#enrollmentCard {
  display:flex;
  align-items: center;
  justify-content: center;
  /*background-color: #9575CD;*/
  /*border: 1px solid black;*/
  font-size: 1em;
  font-family: roboto;
  margin-right:7px;
  /*background: linear-gradient(
    90deg,
    #58CFFC,
    #92E0FE);*/
}

#lunchColorCard, #ellSpedCard {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /*grid-gap: 2%;*/
  font-family: roboto;
}
#spedCard, #socCard {
  display:flex;
  align-items: center;
  justify-content: center;
  /*background: linear-gradient(
    90deg,
    #C1C1C1,
    #E1E1E1
    );*/
  /*background-color: #9E9E9E;*/
  /*border: 1px solid black;*/
  font-size: .8em;
  font-family: roboto;
  margin-right:5px;
}

#ellCard, #frlCard {
  display:flex;
  align-items: center;
  justify-content: center;
  border-right:1px solid lightgray;
  /*background: linear-gradient(
    90deg,
    #949494,
    #C1C1C1
    );*/
  /*background-color: #9E9E9E;*/
  /*border: 1px solid black;*/
  text-align: center;
  font-size: .8em;
  font-family: roboto;
  /*line-height: 1.4em;*/
  margin-left:5px;
}
#ellCard{
  margin-top:-5px;
  border-top:solid 1px lightgray;
}
#frlCard{
  margin-bottom:-5px;
}
#spedCard{
  margin-top:-4px;
}
#socCard{
  margin-bottom:-6px;
  border-bottom:solid 1px lightgray;
}
#navCard{
  display:grid;
  grid-template-rows: 7.9% 7.5% 7.5% 20% 50%;
  position:absolute;
  top:-55px;
  left:0px;
  height:695px;
  width:355px;
  background-color:white;
  box-shadow: 5px 0px 5px 0px rgba(156,154,156,0.83);
  z-index:99;
}
#sideBarTopRow{
  display:grid;
  grid-template-columns: 15% 85%;
  border-bottom:1px solid lightgray;
}
#sideBarX{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px !important;
  /*font-weight:100 !important;*/
}

#sideBarLogo{
  font-family: 'Fredericka the Great';
  display: flex;
  align-items: center;
  justify-content:flex-start;
  font-size: 2.2em;
  letter-spacing: 0.1em;
  padding-left:20px;
}
#logInSignUp{
  display:grid;
  grid-template-columns: 15% 30% 30% 25%;
  padding-top:15px;
}
.logInPerson{
  display:flex;
  align-items: center;
  justify-content: center;
  font-size: 40px !important;
  color:#3B69EE;
}
#signUp, #logIn{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: roboto;
  font-size: 1.25em;
  color:#3B69EE;
}
#signUp{
  border:2px black solid;
  border-radius: 50%;
}
#hamburger{
  cursor: pointer;
}
.redBackground{
  background: linear-gradient(
    90deg,
    #FC5D50,
    #FD0701);
}
.orangeBackground{
background:linear-gradient(
  90deg,
  #F99802,
  #FCAF39)
  ;
}
.yellowBackground{
  background:linear-gradient(
    90deg,
    #F5DF03,
    #F5E43A
    );
}
.greenBackground{
  background:linear-gradient(
    90deg,
    #4FD001,
    #8FDA61
    );
}
.blueBackground{
  background:linear-gradient(
    90deg,
    #036DFC,
    #6AA8FC
    );
}
.newSchoolBackground{
  background:linear-gradient(
    90deg,
    #7D7D7E,
    #C8C8C9
    );
}
a{
  display:flex;
  align-items: center;
  justify-content: center;
  background:linear-gradient(
    270deg,
    #FC5D50,
    #FD0701
    );
    margin-bottom:-11px;
    /*border-top: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid white*/
}
a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: gray;
}

#data {
  display: flex;
  justify-content: center;
}

#gradeInfo {
  text-align: center;
  border-bottom: black solid 1px;
  border-top: black solid 1px;
  font-family: Kameron;
  font-size: 1em;
}
